<ion-view class="protocol-view">
  <ion-nav-title>
    <span>我的钱包</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-clipboard"></button>
    <button class="button button-icon button-clear ion-person" menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-content style="background-color: #eee;" padding="false" overflow-scroll="false">
    <div class="list">
      <div class="item item-divider">账户</div>
      <span class="item item-icon-left item-icon-right" href="#"> <i class="icon ion-card"></i>
        资金账户 <i class="icon" style="font-size: 18px; color: #666;">￥100.00</i>
      </span>
      <span class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-cash"></i>
        可用余额
        <i class="icon" style="font-size: 18px; color: #666;">￥60.00</i>
      </span>
      <div class="item item-divider">操作</div>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-card"></i>
        充值
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-cash"></i>
        提现
        <i class="icon ion-chevron-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
