/* 
* @Author: Administrator
* @Date:   2016-01-29 02:30:32
* @Last Modified by:   Administrator
* @Last Modified time: 2016-01-29 02:43:33
*/
html{
	font-size: 37px;
}
.bg{
	width: 100%;
	/* height: 1000px;
	background:  url(../images/Icon/about.jpg) 0 0 no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%; */
}