/* 
* @Author: zz
* @Date:   2016-01-20 19:20:07
* @Last Modified by:   Administrator
* @Last Modified time: 2016-02-13 14:56:47
*/

html{
	font-size: 80px;
	/* background-color: red; */
	background-color: #EEEEEE;
}
.header{
	width: 100%;
	height: 1.1rem;
	position: relative;
}
.header h1{
	line-height: 1.1rem;
	color: #05C8AA;
	font-size: 0.5rem;
	font-weight: normal;
	text-align:center;
	font-family: "苹方";
}
.header a{
	display: inline-block;
	position: absolute;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%); 
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}
.header a:hover{
	color: #05C8AA;
}
.position{
	width: 0.375rem;
	height: 0.4875rem;
	background:  url(../images/icon/location.png) 0 0 no-repeat;
	background-size:100%;
	-webkit- background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
	left:0.375rem;
	top:50%;
}
.myInformation{
	width: 0.4625rem;
	height: 0.525rem;
	right:0.375rem;
	top:50%;
	background:  url(../images/icon/mine.png) 0 0 no-repeat;
	background-size:100%;
	-webkit- background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
}
/* 头部结束 */
/* banner开始 */
.banner{
	
	height: 3.625rem;
	overflow:hidden;
}

/* 本例子css -------------------------------------- */
 .focus{ 
 	width:100%; 
 	margin:0 auto; 
 	position:relative; 
 	overflow:hidden;   
 }
  .focus .hd{
  	position: absolute;
  	display: none;
  }
 .focus .bd{
  	position:relative; 
  	z-index:0; 
 }
 .focus .bd li img{ 
 	width:100%;  
 	
 }
 .focus .bd li a{ 
 	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);
	-ms-tap-highlight-color:rgba(0, 0, 0, 0); 
}
 
 /* banner结束
/* 控件部分 */
.btnList{
	width: 100%;
	height: 7.9625rem;
	background-color: #DCDCDA;
	padding:0.1375rem 0.08125rem ;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit- box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	position: relative;

}
.btnTop,.btnBottom{
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	display:-ms-box;
	background-color: #fff;
	width: 100%;
	height:3.8125rem; 
	position: relative;
}
.btnTop li,.btnBottom li{
     -moz-box-flex:1;
     -webkit-box-flex:1;
     -o-flex:1;
     -ms-flex:1;
    height: 100%;
    background: red url() 0 0 no-repeat;
    
}
.about,.gift,.coach,.advice{
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: inline-block;
	position: relative;
	border: 1px solid #C7C7C7;
}

.btnTop .about{
	border-right: none;
	border-bottom: none;
}
.btnBottom .coach{
	border-right: 0px solid #000;
}
.about i{
	width: 1.7375rem;
	height: 1.575rem;
	display: inline-block;
	background:  url(../images/icon/car.png) 0 0 no-repeat;
	background-size:100%;
	-webkit- background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
	position: absolute;
	top:0.875rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%); 
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}
.btnList p{
	position: absolute;
	bottom:0.55rem;
	left:50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%); 
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	font-size: 0.375rem;
	font-family: "苹方";
	color: #191919;
}
/* 邀请有礼 */
.gift i{
	width: 1.55rem;
	height:1.575rem;
	position: absolute;
	top:0.875rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%); 
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	background: #fff url(../images/icon/gift.png) 0 0 no-repeat;
	background-size:100%;
	-webkit- background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
}
.gift em{
	display: inline-block;
	position: absolute;
	top:0;
	right: 0;
	width: 0.9rem;
	height: 0.875rem;
	background:  url(../images/icon/circle.png) 0 0 no-repeat;
	background-size:100%;
	-webkit- background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
}
/* 找教练 */
.coach i{
	width: 1.7rem;
	height: 1.4375rem;
	display: inline-block;
	position: absolute;
	top:0.7625rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%); 
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	background:  url(../images/icon/coach.png) 0 0 no-repeat;
	background-size:100%;
	-webkit- background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
}
/* 信息反馈 */
.advice i{
	display: inline-block;
	width: 1.525rem;
	height: 1.425rem;
	position: absolute;
	top:0.775rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%); 
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	background:  url(../images/icon/advice.png
		) 0 0 no-repeat;
	background-size:100%;
	-webkit- background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
}

/* 控件背景图 */

/* 报名咨询 */
.footer{
	width: 100%;
	height: 1.6625rem;
	background-color: #EEEEEE;
	position: relative;

}
.footer a{
	display: inline-block;
	width: 6.07rem;
	height: 1.125rem;
	border-radius: 0.5625rem;
	border: 1px solid #8d8585;
	background-color: #03c9a9;
	font-size: 0.45rem;
	font-family: "苹方";
	font-weight: 500;
	letter-spacing:2px;
	color: #fff;
	text-align: center;
	line-height: 1.125rem;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%); 
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	}