/* 
* @Author: Administrator
* @Date:   2016-01-27 15:30:02
* @Last Modified by:   Administrator
* @Last Modified time: 2016-02-13 15:38:47
*/
html{
	font-size: 37px;
	background-color: #fff;
}
body{
	background-color: #fff;
}
/* 绑定手机号 */
.back{
	width: 100%;
	height: 1.125rem;
	border-bottom: 1px solid #d7d4d5;
	background-color: #fff;
	position: relative;
}
.back i{
	display: inline-block;
	width: 0.5rem;
	height:0.5125rem;
	position: absolute;
	top:50%;
	left:0.375rem;
	transform: translateY(-50%);
	-webkit- transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	background:  url(../images/icon/back.png) 0 0 no-repeat;
	background-size:100%;
	-webkit- background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
}
.back  p{
	font-size: 0.425rem;
	line-height:  1.125rem;
	text-align: center;
	color: #333;
	font-family: "苹方";
}
/* logo */
.logo{
	width: 6.7625rem;
	height: 2.9rem;
	margin-top:0.95rem ;
	margin-left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	background:  url(../images/icon/logo.png) 0 0 no-repeat;
	background-size:100%;
	-webkit- background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
}
/* 信息填写 */
.informationList{
	width: 100%;
	background-color: #fff;
	padding-top: 0.775rem;
	padding:0.775rem 0.375rem 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.informationList li{
	width: 100%;
	height: 1.425rem;
	line-height: 1.425rem;
	font-size: 0.35rem;
	color: #a1a4a8;
	border-bottom: 1px solid #bcbcbc;
	font-family: "苹方";
	padding-left: 0.25rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	position: relative;
}
.informationList input{
	/* height: 1.417rem; */
	vertical-align: middle;
	width: 70%;
	position: absolute;
	left: 25%;
	top:50%;
	transform: translateY(-50%);
	-webkit- transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	line-height: 1.425rem;
	font-size: 0.35rem;
	color: #a1a4a8;
	font-family: "苹方";
	outline: none;
	/* height: 1.375rem; */
	height: 1.35rem;
	/* border: 1px solid #000; */
}
/* 绑定手机号 */
.bindpone{
	width: 100%;
	height: 1.225rem;
	padding:0 0.375rem ;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	margin-top: 0.575rem;
}
.bindpone a{
	width: 100%;
	background-color: #d8d8d8;
	height: 100%;
	border-radius:0.125rem;
	color: #fff;
	font-family: "苹方";
	line-height: 1.225rem;
	font-size: 0.45rem;
	outline: none;
	display: inline-block;
	text-align: center;
}
.bindpone a:hover{
	color: #fff;
}
.bindpone p{
	line-height: 1.25rem;
	font-size: 0.275rem;
	color: #727272;
	text-align: center;
}
/* 提示弹窗 */
.clicktext1{
	width:100%;
	/* height: 100%; */
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	z-index: 10; 
	display: none;
}
.clickbg1 .current{
	display: inline-block;
}

.tip1{
	width: 4.6rem;
	height: 3.125rem;
	background-color: #fff;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-webkit- transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}
.tip1 em{
	width: 0.325rem;
	height: 0.3rem;
	background:  url(../images/icon/dele.png) 0 0 no-repeat;
	background-size:100%;
	-webkit- background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
	display: inline-block;
	position: absolute;
	top:0.1875rem;
	right: 0.1875rem;
}
.tip1 p{
	font-family:  "苹方";
	font-size: 0.4125rem;
	color: #1a1a1a;
	text-align: center;
	padding-top: 0.8rem;
	line-height:  1.5rem;
}
.li-03 button{
	width: 1.6625rem;
	height: 0.525rem;
	background-color: #02caa9;
	position: absolute;
	top:50%;
	right:0.375rem;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-webkit- transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	color: #fff;
	font-family: "苹方";
	border-radius:0.1rem;
	font-size: 0.25rem;
	line-height: 0.525rem;
}