/* 
* @Author: Administrator
* @Date:   2016-01-27 16:26:05
* @Last Modified by:   Administrator
* @Last Modified time: 2016-02-13 15:49:12
*/
html{
	font-size: 37px;

}
body{
	background-color: #eee;
}
/* 返回 */
.back{
	width: 100%;
	height: 1.125rem;
	border-bottom: 1px solid #bcbcbc;
	background-color: #fff;
	position: relative;
}
.back i{
	display: inline-block;
	width: 0.5rem;
	height:0.5125rem;
	position: absolute;
	top:50%;
	left:0.375rem;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	background:  url(../images/icon/back.png) 0 0 no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
}
.back  p{
	font-size: 0.425rem;
	line-height:  1.125rem;
	text-align: center;
	color: #333;
	font-family: "苹方";
}
/* 头像 */
.pic{
	width: 100%;
	height: 4.2125rem;
	background-color: #fff;
	margin-bottom: 0.2rem;
	position: relative;
}
.inPic{
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 50%;
	border:1px solid #bcbcbc;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}
.inPic p{
	font-size: 0.475rem;
	color: #333;
	width: 1.45rem;
	/* text-align: center; */
	position: absolute;
	top:0.8rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	font-family: "苹方";
}
.inPic i{
	color: #03c9b0;
	font-family: "苹方";
	font-size: 0.275rem;
	position: absolute;
	bottom: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}
/* 我的教练 */
.list1,.list2{
	width: 100%;
	background-color: #fff;

}
.list1 li,.list2 li{
	width: 100%;
	height:  	1.0625rem;
	border-bottom: 1px solid #bcbcbc;
	line-height: 1.0625rem;
	font-size: 0.3rem;
}
.list1 a,.list2 a{
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-left: 1.625rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	color: #666;
	position: relative;
}
.list1 a:hover,.list2 a:hover{
	color: #666;
}
.list1 p,.list2 p{
	font-family: "苹方";

}
.list1 em,.list2 em{
	display: inline-block;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}
.list1 li:nth-child(1) em{
	width: 0.6rem;
	height: 0.6rem;
	left: 0.375rem;
	background:  url(../images/icon/burse.png) 0 0 no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
}
.list1 li:nth-child(2) em{
	width:0.3125rem;
	height:0.7rem;
	left: 0.525rem;
	background:  url(../images/icon/tie.png) 0 0 no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
}
.list1 li:nth-child(3) em{
	width: 0.5125rem;
	height: 0.5375rem;
	left:0.4125rem;
	background:  url(../images/icon/invitation.png) 0 0 no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
}
/* 学员协议 */
.list2{
	margin-top: 0.2rem;
}
.list2 li:nth-child(1) em{
	width: 0.6rem;
	height: 0.6rem;
	left: 0.4125rem;
	background:  url(../images/icon/burse.png) 0 0 no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
}
.list2 li:nth-child(2) em{
	width: 0.5125rem;
	height: 0.5625rem;
	left: 0.4125rem;
	background:  url(../images/icon/write.png) 0 0 no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	-moz-background-size:100%;
}