<ion-view style="background-color: #eee;">
  <ion-nav-title>
    <span>报名咨询</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-telephone"></button>
  </ion-nav-buttons>
  <ion-content padding="false">
    <div class="list">
      <div class="item item-divider">公告</div>
      <a class="item item-icon-left item-icon-right" href="#"> <i class="icon ion-speakerphone"></i>
        XXXXXX，广告词。 <i class="icon ion-chevron-right"></i>
      </a>
      <div class="item item-divider">报名信息</div>
      <label class="item item-input item-icon-left">
        <span class="input-label">
          <i class="icon ion-person"></i>
        </span>
        <input style="font-size: 18px; line-height: 18px;" type="text" placeholder="姓名"></label>
      <label class="item item-input item-icon-left">
        <span class="input-label">
          <i class="icon ion-iphone"></i>
        </span>
        <input style="font-size: 18px; line-height: 18px;" placeholder="手机号" type="text">
      </label>
      <label class="item item-input item-icon-left">
        <span class="input-label">
          <i class="icon ion-code"></i>
        </span>
        <input style="font-size: 18px; line-height: 18px;" placeholder="验证码" type="text">
        <button class="button button-small button-positive" style="margin-right: 5px;">获取验证码</button></label>
    </div>
    <ion-checkbox ng-model="isChecked" checked>
      已阅读并同意
      <a ui-sref="app.protocol">《学员培训协议》</a>
    </ion-checkbox>
    <!-- <p style="color: #71C4BC; text-align: center;">
    已阅读并同意
    <a href="#">《学员培训协议》</a>
  </p>
  -->
    <style type="text/css">
      .protocol-agreed {
        background-color: #aaa !important;
      }
      .input-label {
        max-width: 40px;
        border-right: 1px solid #aaa;
        margin-right: 15px;
      }
    </style>
    <div class="bar bar-footer bar-positive" ng-class="{'protocol-agreed': !isChecked, '': isChecked}">
      <div class="title">
        <i class="ion-chatbubble-working"></i>
        提交报名
      </div>
    </div>
  </ion-content>
</ion-view>
