<ion-view style="background-color: #eee;">
  <ion-nav-title>
    <span>报名咨询</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-telephone"></button>
  </ion-nav-buttons>
  <ion-content padding="false">
    <div class="list">
      <div class="item item-divider">自动匹配教练</div>
      <a ui-sref="app.coach-detail" style="text-decoration: none;">
        <div class="item item-avatar">
          <img src="img/ionic.png">
          <h2>
            <span style="font-size: 14px;">test</span>
            &#12288;
            <button class="button button-outline button-positive"
                    style="padding: 2px; min-height: 0px; line-height: 10px; font-size: 10px; vertical-align: middle; min-width: 0px; border-radius: 1px;">
              ..年教龄
            </button>
          </h2>
          <p>
            <span style="color: orange;">
              <i class="ion-android-star"></i>
              <i class="ion-android-star"></i>
              <i class="ion-android-star"></i>
              <i class="ion-android-star-half"></i>
              <i class="ion-android-star-outline"></i>
            </span>
            &#12288;
            评论&nbsp;23
          </p>
          <p>123456</p>
        </div>
      </a>
      <div class="item item-divider">报名信息</div>
      <label class="item item-input item-icon-left">
        <span class="input-label">
          <i class="icon ion-person"></i>
        </span>
        <input style="font-size: 18px; line-height: 18px;" type="text" placeholder="姓名"></label>
      <label class="item item-input item-icon-left">
        <span class="input-label">
          <i class="icon ion-iphone"></i>
        </span>
        <input style="font-size: 18px; line-height: 18px;" placeholder="手机号" type="text">
      </label>
      <label class="item item-input item-icon-left">
        <span class="input-label">
          <i class="icon ion-code"></i>
        </span>
        <input style="font-size: 18px; line-height: 18px;" placeholder="验证码" type="text">
        <button class="button button-small button-positive" style="margin-right: 5px;">获取验证码</button></label>
    </div>
    <ion-checkbox ng-model="isChecked" checked>
      已阅读并同意
      <a ui-sref="app.protocol">《学员培训协议》</a>
    </ion-checkbox>
    <!-- <p style="color: #71C4BC; text-align: center;">
    已阅读并同意
    <a href="#">《学员培训协议》</a>
  </p>
  -->
    <style type="text/css">
      .protocol-agreed {
        background-color: #aaa !important;
      }
      .input-label {
        max-width: 40px;
        border-right: 1px solid #aaa;
        margin-right: 15px;
      }
    </style>
    <div class="bar bar-footer bar-positive" ng-class="{'protocol-agreed': !isChecked, '': isChecked}">
      <div class="title">
        <i class="ion-chatbubble-working"></i>
        提交报名
      </div>
    </div>
  </ion-content>
</ion-view>
