<ion-view class="feedback-view">
  <ion-nav-title>
    <span>意见反馈</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a href="tel:{{servicePhone}}" class="button button-icon icon ion-ios-telephone"></a>
  </ion-nav-buttons>
  <ion-content style="background-color: #eee;" padding="false" overflow-scroll="false">
    <textarea id="comment-textarea" ng-model="comment.text" style="height: 150px; width: 100%; margin-top: 10px; background-color: white; padding: 10px; font-size: 20px; line-height: 20px;" placeholder="请将您的宝贵意见告诉我们，我们将用于不断完善我们的服务。"></textarea>
    <div class="row">
      <div class="col">
        <button type="submit" class="button button-block button-positive" ng-disabled="!comment.text.length" ng-click="submitFeedback()">提交</button>
      </div>
    </div>
  </ion-content>
</ion-view>
