<ion-view class="home-view">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-location" ng-click="getPos()">{{locCity}}
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>快来学车</span>
  </ion-nav-title>
  <ion-content padding="false" style="background-color: #eee;">
    <div class="row" style="height: 150px; background-color: grey; margin-bottom: 10px;">
      <ion-slide-box id='dash-slider' on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <div class="box one"></div>
        </ion-slide>
        <ion-slide>
          <div class="box two"></div>
        </ion-slide>
        <ion-slide>
          <div class="box three"></div>
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="row" style="font-size: 25px; line-height: 75px; height: 75px; text-align: center; color: black; margin: 0px; padding: 0px; margin-bottom: 10px;">
      <a class="col col-50" style="border-bottom-right-radius: 75px; background-color: white; margin-left: -10px; margin-right: 10px; padding: 0px; border-top-right-radius: 75px;" ui-sref="app.learn-process">学车流程</a>
      <a class="col col-50" style="border-bottom-left-radius: 75px; background-color: white; margin-right: -10px; margin-left: 10px; padding: 0px; border-top-left-radius: 75px;" ui-sref="app.invite">邀请有礼</a>
    </div>
    <div class="row" style="font-size: 25px; line-height: 75px; text-align: center; color: black; background-color: white; margin: 0px; padding: 0px;">
      <a class="col col-50" style="border-right: 1px solid #eee; border-bottom: 1px solid #eee;" ui-sref="app.coach-list">找教练</a>
      <!--<a ng-click="show()" class="col col-50" style="border-bottom: 1px solid #eee;" href="#/exercise">做试题</a>-->
      <a class="col col-50" style="border-bottom: 1px solid #eee;" ui-sref="app.exercise">做试题</a>
    </div>
    <div class="row" style="font-size: 25px; line-height: 75px; text-align: center; color: black; background-color: white; margin: 0px; padding: 0px;">
      <a class="col col-50" style="border-right: 1px solid #eee;" ui-sref="app.learn-record">我的进度</a>
      <a class="col col-50" style="" ui-sref="app.feedback">建议反馈</a>
    </div>
    <div class="bar bar-footer bar-positive" ui-sref="app.enroll">
      <div class="title"> <i class="icon ion-chatbubble-working"></i>
        报名咨询
      </div>
    </div>
  </ion-content>
</ion-view>

<!--<ion-view>-->

    <!--<ion-side-menu side="right">-->
      <!--<ion-content>-->
        <!--<ion-list>-->
          <!--<a class="item item-avatar" href="#">-->
            <!--<img src="img/ionic.png">-->
            <!--<h2>13651608916</h2>-->
            <!--<p>学员</p>-->
          <!--</a>-->
          <!--<ion-item class="item-icon-left" menu-close ng-click="login()">-->
            <!--<i class="icon ion-person"></i>-->
            <!--登录/注册-->
          <!--</ion-item>-->
          <!--<ion-item class="item-icon-left" menu-close href="#/purse">-->
            <!--<i class="icon ion-cash"></i>-->
            <!--我的钱包-->
          <!--</ion-item>-->
          <!--<ion-item class="item-icon-left" menu-close href="#/coach-detail">-->
            <!--<i class="icon ion-university"></i>-->
            <!--我的教练-->
          <!--</ion-item>-->
          <!--<ion-item class="item-icon-left" menu-close href="#/learn-record">-->
            <!--<i class="icon ion-connection-bars"></i>-->
            <!--我的进度-->
          <!--</ion-item>-->
          <!--<ion-item class="item-icon-left" menu-close href="#/notify">-->
            <!--<i class="icon ion-person"></i>-->
            <!--消息通知-->
            <!--<span class="badge badge-assertive">3</span>-->
          <!--</ion-item>-->
          <!--<ion-item class="item-icon-left" menu-close href="#/feedback">-->
            <!--<i class="icon ion-ios-list-outline"></i>-->
            <!--意见反馈-->
          <!--</ion-item>-->
          <!--<ion-item class="item-icon-left" menu-close href="#/protocol">-->
            <!--<i class="icon ion-android-clipboard"></i>-->
            <!--培训协议-->
          <!--</ion-item>-->
        <!--</ion-list>-->
      <!--</ion-content>-->
    <!--</ion-side-menu>-->
  <!--</ion-side-menus>-->
<!--</ion-view>-->

<!-- </ion-pane>
-->
