<ion-view class="protocol-view">
  <ion-nav-title>
    <span>培训协议</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-telephone"></button>
    <button class="button button-icon button-clear ion-person" menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-content style="background-color: #eee;" padding="false" overflow-scroll="false">
    <div
      style="border-radius: 5px; border: 1px dashed #71C4BC; margin: 20px 10px; padding: 10px; font-size: 13px; line-height: 13px;">
      <p
        style="border-radius: 10px; position: relative; top: -22px; color: white; background-color: #71C4BC; display: inline-block; padding: 10px 15px; margin: 0px; font-size: 15px; text-align: center;">
        培训协议</p>
      <p style="margin: 0px;">这里展示详细的培训协议。</p>
    </div>
  </ion-content>
</ion-view>
