body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u2 {
  position:absolute;
  left:2px;
  top:793px;
  width:757px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:65px;
  top:248px;
  width:64px;
  height:64px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:289px;
  top:248px;
  width:192px;
  height:64px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:64px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:135px;
  top:600px;
  width:500px;
  height:80px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
}
#u10 {
  position:absolute;
  left:2px;
  top:32px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:322px;
  top:610px;
  width:125px;
  height:60px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12 {
  position:absolute;
  left:65px;
  top:730px;
  width:640px;
  height:80px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u13 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:65px;
  top:810px;
  width:213px;
  height:140px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u15 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:146px;
  top:825px;
  width:50px;
  height:110px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17 {
  position:absolute;
  left:278px;
  top:810px;
  width:213px;
  height:140px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u18 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:359px;
  top:825px;
  width:50px;
  height:110px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20 {
  position:absolute;
  left:491px;
  top:810px;
  width:213px;
  height:140px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u21 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:572px;
  top:825px;
  width:50px;
  height:110px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23 {
  position:absolute;
  left:65px;
  top:950px;
  width:213px;
  height:140px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u24 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:145px;
  top:965px;
  width:50px;
  height:110px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26 {
  position:absolute;
  left:277px;
  top:950px;
  width:213px;
  height:140px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u27 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:359px;
  top:965px;
  width:50px;
  height:110px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29 {
  position:absolute;
  left:491px;
  top:950px;
  width:213px;
  height:140px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u30 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:571px;
  top:965px;
  width:50px;
  height:110px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32 {
  position:absolute;
  left:65px;
  top:1090px;
  width:213px;
  height:140px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u33 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:146px;
  top:1105px;
  width:50px;
  height:110px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35 {
  position:absolute;
  left:278px;
  top:1090px;
  width:213px;
  height:140px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u36 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:359px;
  top:1105px;
  width:50px;
  height:110px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u38 {
  position:absolute;
  left:491px;
  top:1090px;
  width:213px;
  height:140px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u39 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:572px;
  top:1105px;
  width:50px;
  height:110px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u41 {
  position:absolute;
  left:65px;
  top:1230px;
  width:213px;
  height:140px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u42 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:145px;
  top:1245px;
  width:50px;
  height:110px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u44 {
  position:absolute;
  left:277px;
  top:1230px;
  width:213px;
  height:140px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u45 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:359px;
  top:1245px;
  width:50px;
  height:110px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47 {
  position:absolute;
  left:491px;
  top:1230px;
  width:213px;
  height:140px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u48 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:548px;
  top:1250px;
  width:100px;
  height:100px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u50 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:343px;
  top:738px;
  width:64px;
  height:64px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u52 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:85px;
  top:350px;
  width:600px;
  height:120px;
  font-size:28px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:120px;
}
#u54 {
  position:absolute;
  left:2px;
  top:16px;
  width:596px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:85px;
  top:550px;
  width:300px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u56 {
  position:absolute;
  left:153px;
  top:490px;
  width:125px;
  height:60px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u57 {
  position:absolute;
  left:321px;
  top:486px;
  width:64px;
  height:64px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u58 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:430px;
  top:480px;
  width:250px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
}
#u60 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:476px;
  top:675px;
  width:178px;
  height:60px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:60px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
