<ion-view class="coach-list-view">
    <ion-nav-title>
      <span>报名信息</span>
    </ion-nav-title>
  <ion-content>
    <ion-list>
      <a class="item item-avatar" href="#" style="padding-left: 95px;">
        <img src="img/ionic.png" style="max-height: 60px; max-width: 60px;">
        <h2>
          <span style="font-size: 14px;">陈海生</span>
          &#12288;
          <button class="button button-outline button-positive" style="padding: 2px; min-height: 0px; line-height: 10px; font-size: 10px; vertical-align: middle; min-width: 0px; border-radius: 1px;">2年教龄</button>
          <span class="right" style="text-align: right"><i class="ion-ios-location"></i> 4.5km</span>
        </h2>
        <p>
          <span style="color: orange;"> <i class="ion-android-star"></i> <i class="ion-android-star"></i>
            <i class="ion-android-star"></i>
            <i class="ion-android-star-half"></i>
            <i class="ion-android-star-outline"></i>
          </span>
          &#12288;
          评论&nbsp;23
        </p>
        <p>闵行区新建东路58号</p>
      </a>
      <div class="item item-divider">请填写您的报名信息</div>
      <label class="item item-input item-icon-left">
        <span class="input-label">
          <i class="icon ion-person"></i>
        </span>
        <input style="font-size: 18px; line-height: 18px;" type="text" placeholder="姓名"></label>
      <label class="item item-input item-icon-left">
        <span class="input-label">
          <i class="icon ion-iphone"></i>
        </span>
        <input style="font-size: 18px; line-height: 18px;" placeholder="手机号" type="text">
      </label>
      <label class="item item-input item-icon-left">
        <span class="input-label">
          <i class="icon ion-code"></i>
        </span>
        <input style="font-size: 18px; line-height: 18px;" placeholder="验证码" type="text">
        <button class="button button-small button-positive" style="margin-right: 5px;">获取验证码</button></label>
      <div class="item item-divider">支付方式</div>
      <ion-list>
        <ion-checkbox>余额</ion-checkbox>
        <ion-radio ng-model="choice" ng-value="'A'">线下支付</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">微信支付</ion-radio>
        <ion-radio ng-model="choice" ng-value="'C'">支付宝支付</ion-radio>
        <ion-radio ng-model="choice" ng-value="'D'">银联支付</ion-radio>
      </ion-list>
    </ion-list>
    <div class="row">
      <div class="col">
        <button class="button button-block button-positive">立即支付</button>
      </div>
    </div>
  </ion-content>
</ion-view>
