<ion-view class="coach-list-view">
  <ion-nav-title>
    <span>教练列表</span>
  </ion-nav-title>
  <ion-header-bar class="bar bar-positive bar-subheader"align-title="center">
    <h2 class="title">
      <span class="button" ng-class="{'active':checkFilter(0)}" ng-click="changeFilter(0)">
        <i class="ion-navigate"></i>
          距离</span>
      <span class="button" ng-class="{'active':checkFilter(1)}" ng-click="changeFilter(1)">
        <i class="ion-speedometer"></i>
          通过率</span>
      <span class="button" ng-class="{'active':checkFilter(2)}" ng-click="changeFilter(2)">
        <i class="ion-pricetags"></i>
          价格</span>
      <span class="button" ng-class="{'active':checkFilter(3)}" ng-click="changeFilter(3)">
        <i class="ion-ribbon-a"></i>
          教龄</span>
    </h2>
  </ion-header-bar>
  <ion-content padding="false" class="has-subheader">
    <ion-item class="text-center" ng-show="loading">
      <ion-spinner icon="spiral"></ion-spinner>
      <p>正在加载...</p>
    </ion-item>
    <ion-list ng-repeat="item in items">
      <a ui-sref="app.coach-detail" style="text-decoration: none;">
        <div class="item item-avatar">
          <img src="img/ionic.png">
          <h2>
            <span style="font-size: 14px;">{{item.name}}</span>
            &#12288;
            <button class="button button-outline button-positive"
                    style="padding: 2px; min-height: 0px; line-height: 10px; font-size: 10px; vertical-align: middle; min-width: 0px; border-radius: 1px;">
              {{item.seniority}}年教龄
            </button>
          </h2>
          <p>
            <span style="color: orange;">
              <i class="ion-android-star"></i>
              <i class="ion-android-star"></i>
              <i class="ion-android-star"></i>
              <i class="ion-android-star-half"></i>
              <i class="ion-android-star-outline"></i>
            </span>
            &#12288;
            评论&nbsp;23
          </p>
          <p>{{item.address}}</p>
        </div>
      </a>
    </ion-list>
  </ion-content>
</ion-view>

