<ion-view class="coach-list-view">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-telephone"></button>
    <button class="button button-icon button-clear ion-person" menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>我的教练</span>
  </ion-nav-title>
  <ion-content padding="false" scroll="false">
    <div class="col col-center" style="text-align: center; margin-top: 20%;">
      <div class="empty-results">
        <i class="icon ion-bookmark" style="font-size: 1000%;"></i>
        <h3 class="no-bookmarks">暂时没有选定教练！</h3>
      </div>
    </div>
  </ion-content>
</ion-view>
