body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u2 {
  position:absolute;
  left:2px;
  top:793px;
  width:757px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:1136px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u4 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:65px;
  top:248px;
  width:64px;
  height:64px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:345px;
  top:248px;
  width:80px;
  height:64px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11 {
  position:absolute;
  left:65px;
  top:482px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u12 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:133px;
  top:487px;
  width:475px;
  height:54px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u14 {
  position:absolute;
  left:65px;
  top:940px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:120px;
  top:944px;
  width:96px;
  height:54px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17 {
  position:absolute;
  left:65px;
  top:1002px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u18 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:120px;
  top:1008px;
  width:125px;
  height:54px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20 {
  position:absolute;
  left:65px;
  top:1066px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u21 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:120px;
  top:1070px;
  width:176px;
  height:54px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23 {
  position:absolute;
  left:65px;
  top:1128px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u24 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:120px;
  top:1134px;
  width:307px;
  height:54px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26 {
  position:absolute;
  left:136px;
  top:1197px;
  width:143px;
  height:54px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27 {
  position:absolute;
  left:649px;
  top:332px;
  width:50px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:85px;
  top:330px;
  width:145px;
  height:54px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u30 {
  position:absolute;
  left:518px;
  top:330px;
  width:145px;
  height:54px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u31 {
  position:absolute;
  left:65px;
  top:382px;
  width:640px;
  height:100px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:65px;
  top:383px;
  width:98px;
  height:98px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:98px;
}
#u34 {
  position:absolute;
  left:2px;
  top:41px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:179px;
  top:388px;
  width:80px;
  height:45px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36 {
  position:absolute;
  left:256px;
  top:393px;
  width:50px;
  height:40px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u37 {
  position:absolute;
  left:413px;
  top:442px;
  width:210px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u38 {
  position:absolute;
  left:619px;
  top:442px;
  width:80px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39 {
  position:absolute;
  left:318px;
  top:403px;
  width:110px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u40 {
  position:absolute;
  left:464px;
  top:403px;
  width:100px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u41 {
  position:absolute;
  left:319px;
  top:442px;
  width:80px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u42 {
  position:absolute;
  left:179px;
  top:443px;
  width:100px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u43 {
  position:absolute;
  left:626px;
  top:401px;
  width:24px;
  height:24px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:647px;
  top:401px;
  width:24px;
  height:24px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:668px;
  top:401px;
  width:24px;
  height:24px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:605px;
  top:401px;
  width:24px;
  height:24px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:584px;
  top:401px;
  width:24px;
  height:24px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:85px;
  top:620px;
  width:194px;
  height:54px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u54 {
  position:absolute;
  left:65px;
  top:675px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u55 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:141px;
  top:679px;
  width:156px;
  height:54px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u57 {
  position:absolute;
  left:65px;
  top:737px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u58 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:65px;
  top:801px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u60 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:72px;
  top:683px;
  width:50px;
  height:50px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u62 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:72px;
  top:743px;
  width:50px;
  height:50px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:141px;
  top:743px;
  width:219px;
  height:54px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u66 {
  position:absolute;
  left:72px;
  top:809px;
  width:50px;
  height:50px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u67 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:141px;
  top:807px;
  width:219px;
  height:54px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u69 {
  position:absolute;
  left:557px;
  top:808px;
  width:120px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u70 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:85px;
  top:870px;
  width:235px;
  height:54px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u72 {
  position:absolute;
  left:621px;
  top:872px;
  width:72px;
  height:54px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u73 {
  position:absolute;
  left:81px;
  top:498px;
  width:32px;
  height:32px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:65px;
  top:546px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u76 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:133px;
  top:551px;
  width:475px;
  height:54px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u78 {
  position:absolute;
  left:81px;
  top:562px;
  width:32px;
  height:32px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:76px;
  top:1199px;
  width:50px;
  height:50px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:120px;
  top:1260px;
  width:340px;
  height:80px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:80px;
}
#u83 {
  position:absolute;
  left:2px;
  top:32px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:228px;
  top:1270px;
  width:125px;
  height:60px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u85 {
  position:absolute;
  left:472px;
  top:1260px;
  width:175px;
  height:80px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:80px;
}
#u86 {
  position:absolute;
  left:2px;
  top:32px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:539px;
  top:1270px;
  width:95px;
  height:60px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u88 {
  position:absolute;
  left:483px;
  top:1267px;
  width:64px;
  height:64px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u89 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:570px;
  top:909px;
  width:110px;
  height:35px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u91 {
  position:absolute;
  left:538px;
  top:912px;
  width:32px;
  height:32px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:78px;
  top:955px;
  width:32px;
  height:32px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:78px;
  top:1019px;
  width:32px;
  height:32px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u96 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:78px;
  top:1081px;
  width:32px;
  height:32px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:78px;
  top:1145px;
  width:32px;
  height:32px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:258px;
  top:1197px;
  width:169px;
  height:54px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#66CCFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
