<ion-view class="learn-process-view">
  <ion-nav-title>
    <span>学车流程</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-telephone"></button>
  </ion-nav-buttons>
  <ion-content padding="false" overflow-scroll="false">
    <div style="border-radius: 5px; border: 1px dashed #71C4BC; margin: 20px 10px; padding: 10px; font-size: 13px; line-height: 13px;">
      <p style="border-radius: 10px; position: relative; top: -22px; color: white; background-color: #71C4BC; display: inline-block; padding: 10px 15px; margin: 0px; font-size: 15px; text-align: center;"> <span style="border-radius: 50%; background-color: #0285AD; position: relative; left: -5px; width: 13px; display: inline-block;">1</span>
        报名
      </p>
      <p style="margin: 0px;">您可以通过微信、app、客服热线报名，将会有学车顾问上门收取报名资料代办报名手续，并全程陪同去车管所体检报名。</p>
    </div>
    <div style="border-radius: 5px; border: 1px dashed #71C4BC; margin: 20px 10px; padding: 10px; font-size: 13px; line-height: 13px;">
      <p style="border-radius: 10px; position: relative; top: -22px; color: white; background-color: #71C4BC; display: inline-block; padding: 10px 15px; margin: 0px; font-size: 15px; text-align: center;"> <span style="border-radius: 50%; background-color: #0285AD; position: relative; left: -5px; width: 13px; display: inline-block;">2</span>
        培训
      </p>
      <p style="margin: 0px;">您可以通过微信、app、客服热线报名，将会有学车顾问上门收取报名资料代办报名手续，并全程陪同去车管所体检报名。</p>
    </div>
    <div style="border-radius: 5px; border: 1px dashed #71C4BC; margin: 20px 10px; padding: 10px; font-size: 13px; line-height: 13px;">
      <p style="border-radius: 10px; position: relative; top: -22px; color: white; background-color: #71C4BC; display: inline-block; padding: 10px 15px; margin: 0px; font-size: 15px; text-align: center;"> <span style="border-radius: 50%; background-color: #0285AD; position: relative; left: -5px; width: 13px; display: inline-block;">3</span>
        考试
      </p>
      <p style="margin: 0px;">您可以通过微信、app、客服热线报名，将会有学车顾问上门收取报名资料代办报名手续，并全程陪同去车管所体检报名。</p>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-positive">报名咨询</button>
      </div>
    </div>
  </ion-content>
</ion-view>
