body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u2 {
  position:absolute;
  left:2px;
  top:793px;
  width:757px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:65px;
  top:248px;
  width:64px;
  height:64px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:269px;
  top:248px;
  width:232px;
  height:64px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:64px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:135px;
  top:350px;
  width:480px;
  height:50px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10 {
  position:absolute;
  left:65px;
  top:730px;
  width:640px;
  height:80px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u11 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:65px;
  top:810px;
  width:213px;
  height:140px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u13 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:146px;
  top:825px;
  width:50px;
  height:110px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15 {
  position:absolute;
  left:278px;
  top:810px;
  width:213px;
  height:140px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u16 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:359px;
  top:825px;
  width:50px;
  height:110px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18 {
  position:absolute;
  left:491px;
  top:810px;
  width:213px;
  height:140px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u19 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:572px;
  top:825px;
  width:50px;
  height:110px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21 {
  position:absolute;
  left:65px;
  top:950px;
  width:213px;
  height:140px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u22 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:145px;
  top:965px;
  width:50px;
  height:110px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24 {
  position:absolute;
  left:277px;
  top:950px;
  width:213px;
  height:140px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u25 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:359px;
  top:965px;
  width:50px;
  height:110px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27 {
  position:absolute;
  left:491px;
  top:950px;
  width:213px;
  height:140px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u28 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:571px;
  top:965px;
  width:50px;
  height:110px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u30 {
  position:absolute;
  left:65px;
  top:1090px;
  width:213px;
  height:140px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u31 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:146px;
  top:1105px;
  width:50px;
  height:110px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u33 {
  position:absolute;
  left:278px;
  top:1090px;
  width:213px;
  height:140px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u34 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:359px;
  top:1105px;
  width:50px;
  height:110px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36 {
  position:absolute;
  left:491px;
  top:1090px;
  width:213px;
  height:140px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u37 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:572px;
  top:1105px;
  width:50px;
  height:110px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39 {
  position:absolute;
  left:65px;
  top:1230px;
  width:213px;
  height:140px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u40 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:145px;
  top:1245px;
  width:50px;
  height:110px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u42 {
  position:absolute;
  left:277px;
  top:1230px;
  width:213px;
  height:140px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u43 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:359px;
  top:1245px;
  width:50px;
  height:110px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u45 {
  position:absolute;
  left:491px;
  top:1230px;
  width:213px;
  height:140px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u46 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:548px;
  top:1250px;
  width:100px;
  height:100px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u48 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:343px;
  top:738px;
  width:64px;
  height:64px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u50 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:85px;
  top:450px;
  width:100px;
  height:100px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u52 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:185px;
  top:450px;
  width:100px;
  height:100px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u54 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:285px;
  top:450px;
  width:100px;
  height:100px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u56 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:385px;
  top:450px;
  width:100px;
  height:100px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u58 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:485px;
  top:450px;
  width:100px;
  height:100px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u60 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:585px;
  top:450px;
  width:100px;
  height:100px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u62 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:125px;
  top:575px;
  width:500px;
  height:250px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
}
#u64 {
  position:absolute;
  left:2px;
  top:117px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:160px;
  top:620px;
  width:331px;
  height:50px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:50px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u66 {
  position:absolute;
  left:417px;
  top:740px;
  width:46px;
  height:50px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u67 {
  position:absolute;
  left:524px;
  top:740px;
  width:46px;
  height:50px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
