<ion-pane>
  <ion-header-bar class="bar-positive" style="">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicHistory.goBack();"></button>
    <h1 class="title">教练列表</h1>
    <button class="button button-icon icon ion-location"></button>
  </ion-header-bar>
  <div style="height: 34px; position: absolute; top: 44px; width: 100%; background-color: white; z-index: 1000; padding: 0px; border-bottom: 2px solid #eee;">
    <div class="row" style="text-align: center; line-height: 100%;">
      <div class="col col-25"><i class="ion-navigate"></i> 距离</div>
      <div class="col col-25"><i class="ion-speedometer"></i> 通过率</div>
      <div class="col col-25"><i class="ion-pricetags"></i> 价格</div>
      <div class="col col-25"><i class="ion-ribbon-a"></i> 教龄</div>
    </div>
  </div>
  <ion-content>
    <div class="list" style="top: 34px;">
      <div class="item item-avatar">
        <img src="img/ionic.png">
        <h2>
          <span style="font-size: 14px;">陈海生</span>
          &#12288;
          <button class="button button-outline button-positive" style="padding: 2px; min-height: 0px; line-height: 10px; font-size: 10px; vertical-align: middle; min-width: 0px; border-radius: 1px;">2年教龄</button>
        </h2>
        <p>
          <span style="color: orange;"> <i class="ion-android-star"></i> <i class="ion-android-star"></i>
            <i class="ion-android-star"></i>
            <i class="ion-android-star-half"></i>
            <i class="ion-android-star-outline"></i>
          </span>
          &#12288;
          评论&nbsp;23
        </p>
        <p>闵行区新建东路58号</p>
      </div>
    </div>
  </ion-content>
</ion-pane>
