body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u2 {
  position:absolute;
  left:2px;
  top:793px;
  width:757px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:65px;
  top:248px;
  width:64px;
  height:64px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:335px;
  top:248px;
  width:100px;
  height:64px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:65px;
  top:328px;
  width:320px;
  height:70px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u10 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:168px;
  top:335px;
  width:115px;
  height:55px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:55px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12 {
  position:absolute;
  left:385px;
  top:328px;
  width:320px;
  height:70px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u13 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:488px;
  top:335px;
  width:115px;
  height:55px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:55px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15 {
  position:absolute;
  left:65px;
  top:620px;
  width:320px;
  height:120px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u16 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:142px;
  top:652px;
  width:165px;
  height:55px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18 {
  position:absolute;
  left:65px;
  top:397px;
  width:640px;
  height:70px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:70px;
}
#u19 {
  position:absolute;
  left:2px;
  top:27px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:149px;
  top:405px;
  width:153px;
  height:55px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:55px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21 {
  position:absolute;
  left:468px;
  top:404px;
  width:153px;
  height:55px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:55px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22 {
  position:absolute;
  left:379px;
  top:413px;
  width:10px;
  height:35px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u23 {
  position:absolute;
  left:385px;
  top:620px;
  width:320px;
  height:120px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u24 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:462px;
  top:652px;
  width:165px;
  height:55px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26 {
  position:absolute;
  left:65px;
  top:740px;
  width:320px;
  height:120px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u27 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:142px;
  top:772px;
  width:165px;
  height:55px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29 {
  position:absolute;
  left:385px;
  top:740px;
  width:320px;
  height:120px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u30 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:462px;
  top:772px;
  width:165px;
  height:55px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32 {
  position:absolute;
  left:65px;
  top:500px;
  width:640px;
  height:120px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:120px;
}
#u33 {
  position:absolute;
  left:2px;
  top:52px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:303px;
  top:532px;
  width:165px;
  height:55px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35 {
  position:absolute;
  left:65px;
  top:940px;
  width:320px;
  height:120px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u36 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:142px;
  top:972px;
  width:165px;
  height:55px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u38 {
  position:absolute;
  left:385px;
  top:940px;
  width:320px;
  height:120px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u39 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:462px;
  top:972px;
  width:165px;
  height:55px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u42 {
  position:absolute;
  left:120px;
  top:1260px;
  width:340px;
  height:80px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:80px;
}
#u43 {
  position:absolute;
  left:2px;
  top:32px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:228px;
  top:1270px;
  width:125px;
  height:60px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u45 {
  position:absolute;
  left:472px;
  top:1260px;
  width:175px;
  height:80px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:80px;
}
#u46 {
  position:absolute;
  left:2px;
  top:32px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:539px;
  top:1270px;
  width:95px;
  height:60px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u48 {
  position:absolute;
  left:483px;
  top:1267px;
  width:64px;
  height:64px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u49 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
