body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u2 {
  position:absolute;
  left:2px;
  top:793px;
  width:757px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:1136px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u4 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:300px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:300px;
}
#u6 {
  position:absolute;
  left:2px;
  top:142px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:322px;
  top:310px;
  width:125px;
  height:125px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u8 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:321px;
  top:445px;
  width:128px;
  height:50px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10 {
  position:absolute;
  left:65px;
  top:580px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:85px;
  top:585px;
  width:96px;
  height:54px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13 {
  position:absolute;
  left:65px;
  top:643px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u14 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:85px;
  top:648px;
  width:96px;
  height:54px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16 {
  position:absolute;
  left:65px;
  top:706px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u17 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:85px;
  top:711px;
  width:96px;
  height:54px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19 {
  position:absolute;
  left:65px;
  top:780px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u20 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:85px;
  top:785px;
  width:176px;
  height:54px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22 {
  position:absolute;
  left:65px;
  top:843px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u23 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:85px;
  top:848px;
  width:156px;
  height:54px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25 {
  position:absolute;
  left:65px;
  top:916px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u26 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:85px;
  top:921px;
  width:558px;
  height:54px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28 {
  position:absolute;
  left:643px;
  top:586px;
  width:50px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:643px;
  top:650px;
  width:50px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:643px;
  top:711px;
  width:50px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:643px;
  top:786px;
  width:50px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:643px;
  top:849px;
  width:50px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:643px;
  top:923px;
  width:50px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:65px;
  top:990px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u41 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:85px;
  top:995px;
  width:176px;
  height:54px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u43 {
  position:absolute;
  left:643px;
  top:997px;
  width:50px;
  height:50px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
