body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u2 {
  position:absolute;
  left:2px;
  top:793px;
  width:757px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:65px;
  top:248px;
  width:64px;
  height:64px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:335px;
  top:248px;
  width:100px;
  height:64px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:65px;
  top:330px;
  width:640px;
  height:120px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:120px;
}
#u10 {
  position:absolute;
  left:2px;
  top:52px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:180px;
  top:410px;
  width:350px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12 {
  position:absolute;
  left:180px;
  top:360px;
  width:460px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13 {
  position:absolute;
  left:76px;
  top:355px;
  width:64px;
  height:64px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u14 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:65px;
  top:460px;
  width:640px;
  height:80px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u16 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:180px;
  top:488px;
  width:350px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#E4E4E4;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18 {
  position:absolute;
  left:76px;
  top:468px;
  width:64px;
  height:64px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:193px;
  top:600px;
  width:340px;
  height:80px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:80px;
}
#u21 {
  position:absolute;
  left:2px;
  top:32px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:301px;
  top:610px;
  width:125px;
  height:60px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23 {
  position:absolute;
  left:85px;
  top:360px;
  width:600px;
  height:80px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:80px;
}
#u24 {
  position:absolute;
  left:2px;
  top:32px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:85px;
  top:440px;
  width:600px;
  height:260px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:260px;
}
#u26 {
  position:absolute;
  left:2px;
  top:122px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:620px;
  top:375px;
  width:50px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:272px;
  top:366px;
  width:226px;
  height:64px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:64px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u30 {
  position:absolute;
  left:322px;
  top:439px;
  width:126px;
  height:64px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:64px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u31 {
  position:absolute;
  left:260px;
  top:502px;
  width:249px;
  height:96px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:96px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:60px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32 {
  position:absolute;
  left:108px;
  top:600px;
  width:80px;
  height:80px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u33 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:203px;
  top:600px;
  width:80px;
  height:80px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u35 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:298px;
  top:600px;
  width:80px;
  height:80px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u37 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:393px;
  top:600px;
  width:80px;
  height:80px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u39 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:488px;
  top:600px;
  width:80px;
  height:80px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u41 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:583px;
  top:600px;
  width:80px;
  height:80px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u43 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:65px;
  top:730px;
  width:640px;
  height:80px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u45 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:65px;
  top:810px;
  width:213px;
  height:140px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u47 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:146px;
  top:825px;
  width:50px;
  height:110px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u49 {
  position:absolute;
  left:278px;
  top:810px;
  width:213px;
  height:140px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u50 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:359px;
  top:825px;
  width:50px;
  height:110px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u52 {
  position:absolute;
  left:491px;
  top:810px;
  width:213px;
  height:140px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u53 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:572px;
  top:825px;
  width:50px;
  height:110px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u55 {
  position:absolute;
  left:65px;
  top:950px;
  width:213px;
  height:140px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u56 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:145px;
  top:965px;
  width:50px;
  height:110px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u58 {
  position:absolute;
  left:277px;
  top:950px;
  width:213px;
  height:140px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u59 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:359px;
  top:965px;
  width:50px;
  height:110px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u61 {
  position:absolute;
  left:491px;
  top:950px;
  width:213px;
  height:140px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u62 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:571px;
  top:965px;
  width:50px;
  height:110px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u64 {
  position:absolute;
  left:65px;
  top:1090px;
  width:213px;
  height:140px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u65 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:146px;
  top:1105px;
  width:50px;
  height:110px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u67 {
  position:absolute;
  left:278px;
  top:1090px;
  width:213px;
  height:140px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u68 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:359px;
  top:1105px;
  width:50px;
  height:110px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u70 {
  position:absolute;
  left:491px;
  top:1090px;
  width:213px;
  height:140px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u71 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:572px;
  top:1105px;
  width:50px;
  height:110px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u73 {
  position:absolute;
  left:65px;
  top:1230px;
  width:213px;
  height:140px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u74 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:145px;
  top:1245px;
  width:50px;
  height:110px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u76 {
  position:absolute;
  left:277px;
  top:1230px;
  width:213px;
  height:140px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u77 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:359px;
  top:1245px;
  width:50px;
  height:110px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:110px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u79 {
  position:absolute;
  left:491px;
  top:1230px;
  width:213px;
  height:140px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:140px;
}
#u80 {
  position:absolute;
  left:2px;
  top:62px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:548px;
  top:1250px;
  width:100px;
  height:100px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u82 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:343px;
  top:738px;
  width:64px;
  height:64px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u84 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:96px;
  top:368px;
  width:64px;
  height:64px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u86 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
