#dash-filter {
    text-align: center;
    font-size: 13px;
    margin-top: -8px;
    color: #555;
    border: 1px solid #CCC;
    .col {
        border-right: 1px solid #BBB;
        &.last {
            border: none;
        }
    }
}

#dash-slider {
    z-index: 999;
    height: 200px;
    .one {
        height: 200px;
        background-color: #f00;
    }
    .two {
        height: 200px;
        background-color: #0f0;
    }
    .three {
        height: 200px;
        background-color: #00f;
    }
}

.cog-auth {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #0f0;
}

.me {
    > img {
        right: 16px;
    }
}

.phone-show {
    text-align: center;
    width: 100%;
    height: 60px;
    margin: 20px 0px;
    font-size: 12px;
    text-decoration: underline;
    i {
        font-size: 30px;
        color: white;
        vertical-align: middle;
        padding-top: 10px;
        border-radius: 50%;
        border: 1px solid lightgreen;
        background-color: lightgreen;
        display: inline-block;
        width: 50px;
        height: 50px;
    }
}

.wx-show {
    text-align: center;
    width: 100%;
    height: 60px;
    margin: 30px 0px;
    font-size: 12px;
    text-decoration: underline;
    i {
        font-size: 30px;
        color: white;
        vertical-align: middle;
        padding-top: 10px;
        border-radius: 50%;
        border: 1px solid lightblue;
        background-color: lightblue;
        display: inline-block;
        width: 50px;
        height: 50px;
    }
}

.tag {
    position: absolute;
    top: 10px;
    left: 42px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 25px;
}

.chat-block {
    word-wrap: break-word;
    word-break: normal;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    &.other {
        padding-left: 12px;
        .content {
            max-width: 60%;
            display: inline-block;
            padding: 5px;
            border-radius: 5px;
            background-color: lightgreen;
            .question {
                .agree {
                    float: left;
                    text-align: center;
                    display: block;
                    width: 45%;
                    height: 30px;
                    line-height: 30px;
                    background-color: #555;
                    color: white;
                    margin-right: 5px;
                }
                .disagree {
                    float: left;
                    text-align: center;
                    display: block;
                    width: 45%;
                    height: 30px;
                    line-height: 30px;
                    background-color: #555;
                    color: white;
                }
            }
        }
        img {
            position: relative;
            max-width: 40px;
            max-height: 40px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    &.me {
        padding-right: 12px;
        .content {
            float: right;
            max-width: 60%;
            display: inline-block;
            padding: 5px;
            border-radius: 5px;
            background-color: lightblue;
            margin-right: 5px;
            margin-top: 20px;
            overflow: hidden;
        }
        img {
            float: right;
            max-width: 40px;
            max-height: 40px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

.input {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 44px;
    z-index: 111;
    background-color: white;
    border: 1px solid #BBB;
    input {
        margin-left: 16px;
        width: 70%;
        vertical-align: middle;
        border-bottom: 1px solid blue;
    }
    .send {
        width: 20%;
        height: 35px;
        position: fixed;
        right: 5px;
        bottom: 0px;
        font-size: 15px;
        margin: 0px 0px 4px 0px;
        padding: 0px;
        line-height: 35px;
        text-align: center;
        background-color: lightblue;
        color: white;
        border-radius: 5px;
    }
}

.clear {
    clear: both;
}

.action-sheet-title {
    text-align: center !important;
}

.button {
    text-align: center !important;
}

$light:                           #057b6c !default;
$stable:                          #057b6c !default;
$positive:                        #057b6c !default;
$calm:                            #057b6c !default;
$balanced:                        #057b6c !default;
$energized:                       #057b6c !default;
$assertive:                       #057b6c !default;
$royal:                           #057b6c !default;
$dark:                            #057b6c !default;
