body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u2 {
  position:absolute;
  left:2px;
  top:793px;
  width:757px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:65px;
  top:248px;
  width:64px;
  height:64px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:335px;
  top:248px;
  width:100px;
  height:64px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:65px;
  top:330px;
  width:640px;
  height:100px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:160px;
  top:390px;
  width:520px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12 {
  position:absolute;
  left:160px;
  top:350px;
  width:171px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13 {
  position:absolute;
  left:550px;
  top:350px;
  width:140px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u14 {
  position:absolute;
  left:76px;
  top:348px;
  width:64px;
  height:64px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:65px;
  top:435px;
  width:640px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:160px;
  top:495px;
  width:520px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19 {
  position:absolute;
  left:160px;
  top:455px;
  width:171px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20 {
  position:absolute;
  left:550px;
  top:455px;
  width:140px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21 {
  position:absolute;
  left:76px;
  top:453px;
  width:64px;
  height:64px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u22 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:65px;
  top:540px;
  width:640px;
  height:100px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u24 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:160px;
  top:600px;
  width:520px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26 {
  position:absolute;
  left:160px;
  top:560px;
  width:171px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27 {
  position:absolute;
  left:550px;
  top:560px;
  width:140px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28 {
  position:absolute;
  left:76px;
  top:558px;
  width:64px;
  height:64px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u29 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
