body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u2 {
  position:absolute;
  left:2px;
  top:793px;
  width:757px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:65px;
  top:248px;
  width:64px;
  height:64px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:320px;
  top:248px;
  width:130px;
  height:64px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:64px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
