<ion-view class="exercises-view">
  <ion-nav-title>
    <span>做试题</span>
  </ion-nav-title>
  <div class="tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        科目一
      </a>
      <a class="tab-item" href="#">
        科目四
      </a>
    </div>
  </div>
  <ion-content padding="false" overflow-scroll="false" style="margin-top: 50px;">
    <div class="list card">
      <a ui-sref="app.chapter" class="item item-icon-left">
        <i class="icon ion-home"></i>
        章节练习
      </a>
      <a href="/#/exercise-order" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        顺序练习
      </a>
      <a href="#/exercise/random" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        随机练习
      </a>
      <a href="#/exercise/special" class="item item-icon-left">
        <i class="icon ion-card"></i>
        专项练习
      </a>
      <a href="#/exercise/exam" class="item item-icon-left">
        <i class="icon ion-card"></i>
        模拟考试
      </a>
    </div>
  </ion-content>
</ion-view>
