<ion-view class="exercise-view">
  <ion-nav-title>
    <span>科目一 - 章节练习</span>
  </ion-nav-title>
  <div class="bar bar-positive bar-subheader">
    <h2 class="title">
      <span class="button" ng-class="{'active':checkMode(0)}" ng-click="changeMode(0)">答题模式</span>
      <span class="button" ng-class="{'active':checkMode(1)}" ng-click="changeMode(1)">学习模式</span>
    </h2>
  </div>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon" ng-class="{'ion-ios-sunny':!switch, 'ion-ios-moon':switch}" ng-click="changeSwitch()"></a>
  </ion-nav-buttons>
  <style>
    .dayMode {
      background-color: white;
    }
    .nightMode {
      background-color: #333;
      color: #aaa;
    }
  </style>
  <ion-content scroll="true" class="has-subheader" ng-class="{'dayMode':!switch, 'nightMode':switch}">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" style="height: 100%;">
      <ion-slide>
        <div class="prev">
          <div style="padding: 15px;">
            <span style="border: 1px solid green; padding: 2px; color: green;">单选题</span>
            这个标志是何含义?
          </div>
          <div style="margin: 0 15px;">
            <img src="img/ionic.png">
          </div>
          <div style="margin: 0 15px;">
            <ul id="exercise-choices">
              <li>
                <span class="exercise-choice"> A </span>
                你猜猜看
              </li>
              <li>
                <span class="exercise-choice"> B </span>
                你猜猜看
              </li>
              <li>
                <span class="exercise-choice"> C </span>
                你猜猜看
              </li>
              <li>
                <span class="exercise-choice"> D </span>
                你猜猜看
              </li>
            </ul>
          </div>
          <div ng-show="checkMode(1)">
            <div style="margin-left: 15px;">
              <span style="border-left: 2px solid blue; padding-left: 5px;">试题详解</span>
              <p>123123123123123123 </p>
            </div>
            <div style="margin-left: 15px;">
              <span style="border-left: 2px solid blue; padding-left: 5px;">相关知识点</span>
              <ul>
                <li style="float: left; border: 1px solid green; padding: 2px; color: green; margin-right: 10px;">准驾车型</li>
                <li style="float: left; border: 1px solid green; padding: 2px; color: green;">罚款200-2000</li>
              </ul>
            </div>
            <div style="clear: both;"></div>
            <div style="margin-left: 15px;">
              <span style="border-left: 2px solid blue; padding-left: 5px;">统计</span>
              <span>我的错误率</span>
              共做过次,做错次,作对次.
              <span>车友错误率</span>
              <progress value="50" max="100" style="background-color: red;"></progress>
              据统计%的人做错过
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><h1>YELLOW</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"><h1>PINK</h1></div>
      </ion-slide>
    </ion-slide-box>
    <span style="position: absolute; bottom: 47px; font-size: 13px; color: #9e9e9e; text-align: center; width: 100%;" ng-class="{'dayMode':!switch, 'nightMode':switch}">你已经做了多少题</span>
    <progress id="exercise-process" value="50" max="100"></progress>
    <div ng-show="show_all" ng-click="hide_all_exercise()" style="position: fixed; top: 0px; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.3); z-index: 1;"></div>
    <style>
      #exercise-choices li {
        margin: 10px 0;
      }
      .exercise-choice {
        border: 1px solid black;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 16px;
        padding: 0 0 4px 4px;
        display: inline-block;
      }
      progress#exercise-process {
        position: absolute;
        bottom: 30px;
        height: 2px;
        display: block;
        background-color: #8e44ad;
        width: 100%;
        border-radius: 8px;
        color: #ddd;
      }
      .all-exercises-active {
        height: 80%;
      }
      .exercise-number {
        font-size: 32px;
        height: 55px;
        width: 55px;
        line-height: 55px;
        display: block;
        border: 1px solid #aaa;
        border-radius: 50%;
        background-color: #eee;
        text-align: center;
      }
      .exercise-number.right {
        border: 1px solid dodgerblue;
        background-color: deepskyblue;
      }
      .exercise-number.wrong {
        border: 1px solid indianred;
        background-color: palevioletred;
      }
      .exercise-number.current {
        background-color: #aaa;
      }
    </style>
  </ion-content>
  <div class="bar bar-footer" ng-class="{'all-exercises-active': show_all}" style="transition: height 0.5s;">
    <button class="button button-clear" ng-show="!isStar" ng-click="star()"><i class="ion-ios-star-outline"></i>收藏</button>
    <button class="button button-clear" ng-show="isStar" ng-click="unstar()"><i class="ion-ios-star"></i>已收藏</button>
    <div class="title"><i class="icon ion-ios-checkmark-outline"></i> 0 <i class="ion-ios-close-outline"></i> 1</div>
    <button class="button button-clear pull-right" ng-click="show_all_exercise()"><i class="ion-grid"></i> 2/234</button>
    <div style="clear: both;"></div>
    <ion-content>
      <div class="row">
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number current">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
      </div>
      <div class="row">
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number right">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number wrong">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
      </div>
      <div class="row">
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
      </div>
      <div class="row">
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
      </div>
      <div class="row">
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
      </div>
      <div class="row">
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
      </div>
      <div class="row">
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
        <div class="col-20" style="padding: 10px;"><span class="exercise-number">1</span></div>
      </div>
    </ion-content>
  </div>
</ion-view>
