body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u2 {
  position:absolute;
  left:2px;
  top:793px;
  width:757px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:65px;
  top:248px;
  width:64px;
  height:64px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:335px;
  top:248px;
  width:115px;
  height:64px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:64px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:65px;
  top:350px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u10 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:141px;
  top:354px;
  width:156px;
  height:54px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12 {
  position:absolute;
  left:65px;
  top:412px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u13 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:65px;
  top:475px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:72px;
  top:358px;
  width:50px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:72px;
  top:418px;
  width:50px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:141px;
  top:418px;
  width:219px;
  height:54px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21 {
  position:absolute;
  left:72px;
  top:483px;
  width:50px;
  height:50px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:141px;
  top:481px;
  width:219px;
  height:54px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24 {
  position:absolute;
  left:557px;
  top:482px;
  width:120px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:65px;
  top:560px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u27 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:141px;
  top:564px;
  width:156px;
  height:54px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29 {
  position:absolute;
  left:72px;
  top:568px;
  width:50px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:85px;
  top:740px;
  width:600px;
  height:80px;
  font-size:36px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:80px;
}
#u32 {
  position:absolute;
  left:2px;
  top:19px;
  width:596px;
  word-wrap:break-word;
}
