body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u2 {
  position:absolute;
  left:2px;
  top:793px;
  width:757px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:1136px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u4 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:320px;
  top:248px;
  width:130px;
  height:64px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:64px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:65px;
  top:325px;
  width:640px;
  height:120px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:120px;
}
#u10 {
  position:absolute;
  left:2px;
  top:52px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:85px;
  top:405px;
  width:120px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12 {
  position:absolute;
  left:85px;
  top:345px;
  width:120px;
  height:40px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13 {
  position:absolute;
  left:530px;
  top:365px;
  width:160px;
  height:40px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u14 {
  position:absolute;
  left:65px;
  top:450px;
  width:640px;
  height:120px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:120px;
}
#u15 {
  position:absolute;
  left:2px;
  top:52px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:85px;
  top:530px;
  width:120px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17 {
  position:absolute;
  left:85px;
  top:470px;
  width:120px;
  height:40px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18 {
  position:absolute;
  left:530px;
  top:490px;
  width:160px;
  height:40px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19 {
  position:absolute;
  left:65px;
  top:575px;
  width:640px;
  height:120px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:120px;
}
#u20 {
  position:absolute;
  left:2px;
  top:52px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:85px;
  top:655px;
  width:120px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22 {
  position:absolute;
  left:85px;
  top:595px;
  width:120px;
  height:40px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23 {
  position:absolute;
  left:530px;
  top:615px;
  width:160px;
  height:40px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24 {
  position:absolute;
  left:65px;
  top:700px;
  width:640px;
  height:120px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:120px;
}
#u25 {
  position:absolute;
  left:2px;
  top:52px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:85px;
  top:780px;
  width:120px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27 {
  position:absolute;
  left:85px;
  top:720px;
  width:120px;
  height:40px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28 {
  position:absolute;
  left:510px;
  top:740px;
  width:180px;
  height:40px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#009900;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29 {
  position:absolute;
  left:65px;
  top:825px;
  width:640px;
  height:120px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:120px;
}
#u30 {
  position:absolute;
  left:2px;
  top:52px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:85px;
  top:905px;
  width:120px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32 {
  position:absolute;
  left:85px;
  top:845px;
  width:120px;
  height:40px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u33 {
  position:absolute;
  left:550px;
  top:865px;
  width:140px;
  height:40px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#009900;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34 {
  position:absolute;
  left:65px;
  top:950px;
  width:640px;
  height:120px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:120px;
}
#u35 {
  position:absolute;
  left:2px;
  top:52px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:85px;
  top:1030px;
  width:120px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u37 {
  position:absolute;
  left:85px;
  top:970px;
  width:120px;
  height:40px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u38 {
  position:absolute;
  left:570px;
  top:990px;
  width:120px;
  height:40px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#009900;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39 {
  position:absolute;
  left:65px;
  top:248px;
  width:64px;
  height:64px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u40 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
