body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1601px;
}
#u2 {
  position:absolute;
  left:2px;
  top:793px;
  width:757px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:65px;
  top:325px;
  width:640px;
  height:250px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:250px;
}
#u4 {
  position:absolute;
  left:2px;
  top:117px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:114px;
  top:520px;
  width:96px;
  height:54px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6 {
  position:absolute;
  left:336px;
  top:520px;
  width:114px;
  height:54px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7 {
  position:absolute;
  left:64px;
  top:660px;
  width:640px;
  height:300px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:300px;
}
#u8 {
  position:absolute;
  left:2px;
  top:142px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:65px;
  top:660px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u10 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:84px;
  top:665px;
  width:96px;
  height:54px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12 {
  position:absolute;
  left:646px;
  top:665px;
  width:46px;
  height:54px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13 {
  position:absolute;
  left:65px;
  top:723px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u14 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:84px;
  top:728px;
  width:96px;
  height:54px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16 {
  position:absolute;
  left:547px;
  top:729px;
  width:130px;
  height:54px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17 {
  position:absolute;
  left:65px;
  top:786px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u18 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:84px;
  top:791px;
  width:96px;
  height:54px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20 {
  position:absolute;
  left:527px;
  top:792px;
  width:147px;
  height:54px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21 {
  position:absolute;
  left:551px;
  top:520px;
  width:121px;
  height:54px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22 {
  position:absolute;
  left:65px;
  top:849px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u23 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:84px;
  top:854px;
  width:176px;
  height:54px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25 {
  position:absolute;
  left:624px;
  top:856px;
  width:48px;
  height:54px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26 {
  position:absolute;
  left:65px;
  top:912px;
  width:640px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:64px;
}
#u27 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:84px;
  top:917px;
  width:156px;
  height:54px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29 {
  position:absolute;
  left:624px;
  top:917px;
  width:47px;
  height:54px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u30 {
  position:absolute;
  left:65px;
  top:980px;
  width:640px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u31 {
  position:absolute;
  left:2px;
  top:34px;
  width:636px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:84px;
  top:995px;
  width:156px;
  height:54px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34 {
  position:absolute;
  left:65px;
  top:235px;
  width:640px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
}
#u35 {
  position:absolute;
  left:2px;
  top:37px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:64px;
  top:248px;
  width:64px;
  height:64px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u37 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:336px;
  top:253px;
  width:96px;
  height:54px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39 {
  position:absolute;
  left:372px;
  top:490px;
  width:24px;
  height:24px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:349px;
  top:490px;
  width:24px;
  height:24px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:326px;
  top:490px;
  width:24px;
  height:24px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:396px;
  top:490px;
  width:24px;
  height:24px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:419px;
  top:490px;
  width:24px;
  height:24px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:322px;
  top:360px;
  width:125px;
  height:125px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u50 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:630px;
  top:990px;
  width:64px;
  height:64px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u52 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:65px;
  top:581px;
  width:640px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u54 {
  position:absolute;
  left:2px;
  top:34px;
  width:636px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:84px;
  top:596px;
  width:156px;
  height:54px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:54px;
  background-color:transparent;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u56 {
  position:absolute;
  left:630px;
  top:590px;
  width:64px;
  height:64px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u57 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
