<ion-view class="learn-process-view">
  <ion-nav-title>
    <span>邀请有礼</span>
  </ion-nav-title>
  <ion-content padding="false" overflow-scroll="false">
    <div style="border-radius: 5px; border: 1px dashed #71C4BC; margin: 20px 10px; padding: 10px; font-size: 13px; line-height: 13px;">
      <p style="border-radius: 10px; position: relative; top: -22px; color: white; background-color: #71C4BC; display: inline-block; padding: 10px 15px; margin: 0px; font-size: 15px; text-align: center;">邀请说明</p>
      <p style="margin: 0px;">这里向用户说明邀请规则。</p>
    </div>
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="#"> <i class="icon ion-paper-airplane"></i>
        查看我的邀请码
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#"> <i class="icon ion-code-working"></i>
        输入我的邀请码
        <i class="icon ion-chevron-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
